div#msg {
  text-align: center;
  border: 4px dashed black;
  background-color: silver;
  width: 80%;
  height: 100px;
  font-weight: bold;
  font-size: 25pt;
  font-family: monospace;
  margin: 10px 10% 10px 10%;
}

form#aula17 {
  background-color:silver;
}
textarea {
  width: 400px;
  height: 250px;
}
