<h5>*ngIf</h5>

<div *ngIf="cursos.length > 0">
  Lista de cursos aqui.
</div>
<div *ngIf="cursos.length == 0">
  Não existem cursos para serem exibidos.
</div>

<div *ngIf="mostrarCursos">
  Lista de cursos aqui.
</div>
<div *ngIf="!mostrarCursos">
  Não existem cursos para serem exibidos.
</div>

<br>
<button (click)="onMostrarCursos()">Mostrar ou esconder cursos</button>

<h5>Hidden como Alternativa</h5>
<div [hidden]="!mostrarCursos">
  Lista de cursos aqui.
</div>
<div [hidden]="mostrarCursos">
  Não existem cursos para serem exibidos.
</div>

<div *ngIf="mostrarCursos">
    Lista de cursos aqui.
</div>

<ng-template [ngIf]="mostrarCursos">
  <div>
      Lista de cursos aqui.
  </div>
</ng-template>

<div ng-template="ngIf mostrarCursos">
    Lista de cursos aqui.
</div>