<section class="property-binding">
  <article>
    <h3>Interpolation / Interpolação</h3>
    <p>String renderizada com interpolação: {{ url }}</p>
    <p>Resultado de 1 + 1 = {{ 1 + 1 }}</p>
    <p>Resultado de 1 + 1 não é: {{ 1 + 1 + getValor() }}</p>
    <p>Curso Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
  </article>
    <h3>Property Binding</h3>
    <img src="{{ urlImagem }}"><br><br>
    <img [src]="urlImagem"><br><br>
    <img bind-src="urlImagem">
  <article>

  </article>
</section>
